<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="I2P_Project.Properties.Settings.UserDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBases\MainDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="I2P_Project.Properties.Settings.DocumentsDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DataBases\DocumentsDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="I2P_Project.Properties.Settings.iLibDBConnectionString"
            connectionString="Data Source=ilibserver.database.windows.net;Initial Catalog=iLibDB;Persist Security Info=True;User ID=iLibAdmin;Password=Faraday28"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>